{% extends "base.html" %}

{% block content %}
<section class="panel">
    <h2>Acerca del proyecto</h2>
    <p>Este sistema fue desarrollado para Litobanano S.A. siguiendo los lineamientos académicos de Desarrollo de Aplicaciones Web.</p>
    <ul>
        <li>Semana 9: Proyecto Flask con rutas y despliegue</li>
        <li>Semana 10: Plantillas dinámicas con herencia Jinja2</li>
        <li>Semana 11: POO, colecciones e integración CRUD</li>
        <li>Semana 12: Persistencia TXT/JSON/CSV + SQLite con SQLAlchemy</li>
    </ul>
</section>
{% endblock %}
